app.version=1.0.0
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false
spring.jpa.properties.hibernate.enable_lazy_load_no_trans=true
spring.datasource.url=jdbc:mysql://${MYSQL_HOST:localhost}:3306/springregion
spring.datasource.username=root
spring.datasource.password=root
sentry.dsn=
spring.jackson.property-naming-strategy=SNAKE_CASE
rajaogkir.api-key=aa8e37a4d877ecdf7af0807dafde9670
rajaogkir.url=
rajaogkir.level=starter
logging.level.root=WARN
logging.level.com.baeldung=TRACE
authenticate-grpc.service.host=localhost
authenticate-grpc.service.port=50051
rabbitmq.active = false
spring.rabbitmq.host = 127.0.0.1
spring.rabbitmq.port = 5672
spring.rabbitmq.username = guest
spring.rabbitmq.password = guest
spring.kafka.consumer.auto-offset-reset = earliest